* {
    padding: 0;
    margin: 0;
}

.backResult {
    background-color: #082627;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.cards_div {
    display: flex;
    flex-direction: row;
}

.city {
    font-family: 'Titan One', sans-serif;
    color: white;
    Font-size: 4em;
}

.country {
    font-family: 'Titan One', sans-serif;
    color: white;
    Font-size: 2em;
    opacity: 0.3;
}

.activity_div{
    background-color: #3ebfb0;
    padding-left: 1em;
    padding-right: 3px;
    box-shadow: -6px 6px 0px 6px #2cd4d4;
    max-width: 600px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
    max-height: 80vh;
}

.activity_header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.activity_header_title {
    margin-bottom: 10px;
    font-family: 'arial', sans-serif;
    font-weight: bold;
    color: #082627;
    Font-size: 2em;
    margin-top: 10px;
}

.activity_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.activity_header_day {
    font-family: 'Titan One', sans-serif;
    color: #f1faf9;
    Font-size: 2em;
    margin-top: 10px;
    writing-mode: vertical-rl;
    position: relative;
    margin: 0;
    text-shadow: 2px 2px 0px #082627;
}

.activity_infos_name_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity_infos {
    background: rgb(193,182,182);
    background: linear-gradient(0deg, rgba(193,182,182,1) 100%, rgba(194,184,176,1) 0%); 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-bottom: 0.8vb;
    width: 100%;
    --mask:
    radial-gradient(7.32px at 10.20px 50%,#000 99%,#0000 101%) 0 calc(50% - 12px)/51% 24px repeat-y,
    radial-gradient(7.32px at -4.2px 50%,#0000 99%,#000 101%) 6px 50%/calc(51% - 6px) 24px repeat-y,
		radial-gradient(7.32px at calc(100% - 10.20px) 50%,#000 99%,#0000 101%) 100% 50%/51% 24px repeat-y,
    radial-gradient(7.32px at calc(100% + 4.20px) 50%,#0000 99%,#000 101%) calc(100% - 6px) calc(50% - 12px)/calc(51% - 6px) 24px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.activity_name {
    color: #082627;
    font-family: 'arial', sans-serif;
    font-weight: bold;
}

.activity_price {
    color: rgb(193,182,182);
    font-family: 'arial', sans-serif;
    background-color: #082627;
    font-weight: bold;
    width: 45px;
    max-height: 45px;
    border-radius: 15%;
    margin-left: 5px;
}

.activity_site {
    font-size: 0.8em;
    opacity: 0.8;
    color: #082627;
}

.div_infos_group {
    border-bottom: 2px dashed #08262744;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 8px;
}

.meals_div {
    background-color: #cf6854;
    padding-left: 1em;
    padding-right: 3px;
    box-shadow: -6px 6px 0px 6px #c98a75;
    max-width: 600px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
    max-height: 80vh;
}

.meals_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.meals_header_title {
    margin-bottom: 10px;
    font-family: 'arial', sans-serif;
    font-weight: bold;
    color: #550000;
    Font-size: 2em;
    margin-top: 10px;
}

.meals_header_day {
    font-family: 'Titan One', sans-serif;
    color: rgb(241, 206, 206);
    Font-size: 2em;
    margin-top: 10px;
    writing-mode: vertical-rl;
    position: relative;
    margin: 0;
    text-shadow: 2px 2px 0px #550000;
}

.meals_infos {
    background: rgb(193,182,182);
    background: linear-gradient(0deg, rgba(193,182,182,1) 100%, rgba(194,184,176,1) 0%); 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-bottom: 0.8vb;
    width: 100%;
    --mask:
    radial-gradient(7.32px at 10.20px 50%,#000 99%,#0000 101%) 0 calc(50% - 12px)/51% 24px repeat-y,
    radial-gradient(7.32px at -4.2px 50%,#0000 99%,#000 101%) 6px 50%/calc(51% - 6px) 24px repeat-y,
		radial-gradient(7.32px at calc(100% - 10.20px) 50%,#000 99%,#0000 101%) 100% 50%/51% 24px repeat-y,
    radial-gradient(7.32px at calc(100% + 4.20px) 50%,#0000 99%,#000 101%) calc(100% - 6px) calc(50% - 12px)/calc(51% - 6px) 24px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.meals_infos_name_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meals_name {
    color: #550000;
    font-family: 'arial', sans-serif;
    font-weight: bold;
}

.meals_price {
    color: rgb(193,182,182);
    font-family: 'arial', sans-serif;
    background-color: #550000;
    font-weight: bold;
    width: 45px;
    max-height: 45px;
    border-radius: 15%;
    margin-left: 5px;
}

.meals_site {
    font-size: 0.8em;
    opacity: 0.8;
    color: #082627;
}

.flights_div {
    background-color: #a78232;
    padding-left: 1vh;
    padding-right: 1vh;
    box-shadow: -6px 6px 0px 6px #e0bb6a;
    max-width: 600px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
    max-height: 80vh;
}

.flights_header_title {
    font-family: 'arial', sans-serif;
    font-weight: bold;
    color: #550000;
    Font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flights_infos {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: #c1b6b6;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
}

.flights_infos_bottom {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: #c1b6b6;
    margin-bottom: 0.8vb;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;
}

.flights_logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.flights_infos_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5vh;
}

.flights_logo_div_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cities_flight_names_acronym {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
}

.cities_flight_names_acronym_departure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cities_flight_names_acronym_destination {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.flight_name {
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;   
}

.flights_number {
    color: #646464;
  font-size: 0.9rem;
  font-weight: lighter;
  font-family: Helvetica, arial, sans-serif;
}

.flight_acronym {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-direita {
    margin-left: auto;
    text-align: right;
}

.mid_center_align {
    margin: 0 auto;
}

.flight_time {
    font-size: 0.8rem;
    opacity: 0.4;
    text-align: center;
}

.flight_stops {
    font-size: 1rem;
    opacity: 0.6;
    text-align: center;
}

.flight_hour {
    font-size: 1.6rem;
    opacity: 0.8;
}

.flight_date {
    font-size: 0.8rem;
    opacity: 0.8;
    margin-bottom: 3px;
}

.alert {
    opacity: 0;
    position: fixed;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    top: 0;
    right: 0;
    background-color: aliceblue;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    animation: alertAnimation 7s;
}

@keyframes alertAnimation {
    0% {
        opacity: 0;
        margin-top: 0;
    }
    20% {
        opacity: 1;
        margin-top: 15px;
    }
    80% {
        opacity: 1;
        margin-top: 15px;
    }
    100% {
        opacity: 0;
        margin-top: 30px;
    }
}

.cheapest_tag {
    background-color: #108641;
    color: white;
}

.fastest_tag {
    background-color: #0a385e;
    color: white;
}

.flights_tags {
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    margin-left: 2px;
    margin-right: 2px;
}

.hours_flights_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}