.App {
  background-color: #202c3c;
  height: 100dvh;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  margin-left: 1vh;
  margin-right: 1vh;
  background-color: #282c34;
  border-radius: 0 0 10px 10px;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  color: #d7eaf0;
  font-family: 'Roboto', sans-serif;
}

.App-link {
  color: #61dafb;
}

.chat {
  background-color: #f5eeee;
  align-self: center;
  width: 90vw;
  height: 95vh;
  margin-top: 2vh;
  border-radius: 15px 15px 15px 15px;
  max-width: 1000px;
  position: fixed; 
  top: 0; 
}

.chat_header {
  border-radius: 15px 15px 25px 25px;
  min-height: 10vh;
  box-shadow: 1px 5px 28px -10px rgba(0,0,0,0.96);
  margin-top: -1vh;
  display: flex;
  flex-direction: row;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.header_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  margin-left: 7vh;
  text-align: left;
}

.header_photo { 
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: 2vh;
  margin-right: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.photo_header_img {
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  min-width: 30px;
  min-height: 30px;
}

.ai_name {
  color: #324c6c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.ai_status {                                              
  color: #324c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

.chat_messages {
  margin: 2vh;
  display: flex;
  align-content: end;
  flex-direction: column;
  overflow-y: auto;
  height: 65vh;
}

.message_user {
  margin-top: 1vh;
  flex-direction: row;
  display: flex;
  align-self: flex-end;
  animation: new_message_assistant 300ms ease-in-out;
}

.message_assistant {
  margin-top: 1vh;
  flex-direction: row;
  display: flex;
  animation: new_message_assistant 300ms ease-in-out;
}

.chat_message_user {
  background-color: #9fdfff;
  color: #2b435e;
  border-radius: 20px 0 20px 20px;
  margin-left: 2vh;
  padding: 0.1vh 1vh 0.1vh 1vh;
}

.chat_message_assistant {
  background-color: #1d3557;
  color: #ffffff;
  border-radius: 0 20px 20px 20px;
  margin-right: 2vh;
  padding: 0.1vh 1vh 0.1vh 1vh;
}

.hours_message_user {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.hours {
  color: #8d95a0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}

.send_message_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 10vh;
  margin-top: 4vh;
}

.chat_input {
  display: flex;
  order: 0;
  flex-grow: 1;
  flex-shrink: 2;
  background-color: #f5eeee;
  border-bottom: 2px solid #8d95a0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.0rem;
  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #8d95a0;
  margin-left: 2vh;
  margin-right: 1vh;
}

.chat_input:focus {
  border-bottom: 2px solid #394966;
}

.chat_send_button {
  background-color: #394966;
  color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  border: 0px;
  margin-right: 2vh;
  margin-left: 1vh;
  transition: 200ms;
}

.chat_send_button:hover {
  background-color: #000000;
}

.chat_send_button:active {
  background-color: #000000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes color_button {
  from {background-color: #687999;}
  to {background-color: rgb(0, 0, 0);}
}

@keyframes new_message_assistant {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1;}
}